body {
    background-color: lightgray;
}
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.div_centered{
    background-color: #3f51b5;
    margin-top: 100px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
    .btn{
        color: #3f51b5;
        background-color: white;
    }
    label{
        color: white;
    }
}